type {{properCase name}}Props = {
  label: string;
};

export const {{properCase name}} = ({ label }: {{properCase name}}Props) => {
  return (
    <div>
      <p>{{properCase name}} - {label}</p>
    </div>
  );
};
