@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 18px;
    font-family: 'Roboto', 'Open Sans', 'Arial', 'Verdana', 'sans-serif';
  }

  /* Fonts */
  @font-face {
    font-family: 'Riffic';
    src: url('./assets/fonts/RifficFree-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Muli-Regular';
    src: url('./assets/fonts/Muli-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Quicksand-Regular';
    src: url('./assets/fonts/Quicksand-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Quicksand-Bold';
    src: url('./assets/fonts/Quicksand-Bold.ttf') format('truetype');
  }

  /* Heading */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    @apply font-riffic tracking-wide;
  }

  /* Input */
  input::-webkit-input-placeholder {
    @apply uppercase;
  }
  input:-moz-placeholder {
    @apply uppercase;
  }
  input::-moz-placeholder {
    @apply uppercase;
  }
  input:-ms-input-placeholder {
    @apply uppercase;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* @layer components {
  .gradient-primary {
    @apply from-primary-gradient_light via-primary-gradient_dark to-primary-gradient_light;
  }
  .gradient-tertiary {
    @apply from-tertiary-gradient_light via-tertiary-gradient_dark to-tertiary-gradient_light;
  }
} */

/* Autocomplete styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid rgba(209, 213, 219, 1);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(31, 149, 176, 1) inset;
  box-shadow: 0 0 0px 1000px rgba(31, 149, 176, 1) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
  caret-color: white;
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}
.pagination li {
  margin: 0 5px;
}
.pagination li a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #007bff;
  cursor: pointer;
}
.pagination li a.active {
  background-color: #007bff;
  color: white;
}
.pagination li a.disabled {
  color: #ddd;
  cursor: not-allowed;
}
